.cartCard-image {
  height: 100px;
}
.error-message{
  display: flex;
  justify-content: center;
  color: red;
  font-size: smaller;
  font-weight: bolder;
  background-color: blanchedalmond;
  text-align: center;
}