#filters-heading{
    color: forestgreen;
    font-weight: 700;
    font-style: italic;
}

@media (max-width: 768px) {
    .filters-div {
      display: flex;
      justify-content: space-around;
    }
    #filters-heading{
        display: none;
    }
}