.error{
  display: flex;
  justify-content: center;
  color: red;
  font-weight: bolder;
}

.text-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.filters-btn {
  font-size: 8px;
}

.display-filters-md {
  padding-left: 1rem;
  padding-right: 1rem;
  display: block;
}

@media (min-width: 450px) {
  .filters-btn{
    font-size: 15px;
  }
}

