.text-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.clear-btn {
  margin-left: 1rem;
}

.display-filters-md {
  padding-left: 1rem;
  padding-right: 1rem;
  display: block;
}

.display-filters-sm {
  padding: 1rem;
  display: none;
}

@media (max-width: 900px) {
  .display-filters-sm {
    display: block;
  }
  .display-filters-md {
    display: none;
  }
}
